absl-py==2.1.0
aext-assistant
aext-assistant-server
aext-core
aext-core-server
aext-panels
aext-panels-server
aext-share-notebook
aext-share-notebook-server
aext-shared
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
base58==2.1.1
bcrypt
beautifulsoup4
binaryornot
bitarray==2.9.2
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
ckzg==2.0.1
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-rpc-py==0.1.8.post6
eth-typeshed-py==0.1.9.post1
eth-typing==4.1.0
eth-utils==4.1.0
eth_abi==5.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet
grpcio==1.66.2
grpcio-status==1.66.2
h11
h5py
HeapDict
hexbytes==1.2.1
holoviews
httpcore
httplib2==0.22.0
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
ipywidgets==8.1.5
jupyterlab_widgets==3.0.13
openai==0.27.10
panel
param
paramiko
parsel
parsimonious==0.10.0
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
proto-plus==1.24.0
protobuf==5.28.2
psutil
ptyprocess==0.7.0
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pycryptodome==3.20.0
pyct
pydantic==2.9.2
pydantic_core==2.23.4
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywin32-ctypes
pywinpty==2.0.10
PyYAML
pyzmq
QDarkStyle
qstylizer==0.2.2
rsa==4.9
Rtree
s3fs
Scrapy
semver
Send2Trash
service-identity
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
ta==0.11.0
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tiktoken==0.3.3
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
Twisted
twisted-iocpsupport
typing_extensions
uc-micro-py==1.0.1
ujson==4.0.2
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.15
w3lib==2.0.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==13.1
Werkzeug==2.3.6
whatthepatch==1.0.2
widgetsnbextension==4.0.13
win-inet-pton==1.1.0
wrapt==1.14.1
xarray==2024.1.0
xlwings==0.29.1
xyzservices
yapf==0.31.0
yarl==1.9.2
zict
zipp
zope.interface
zstandard
